# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env

# Django
/staticfiles/

# React / Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Sistema
.DS_Store
Thumbs.db
Guia.txt

# VSCode / IDE
.vscode/
.idea/

# Entorno
.env.local
.env.development
.env.production
